# standard ignore
*config*
*conf*
LICENSE
NOTICE

.github/
.gitignore
.eslintrc
.stylelintrc

coverage/
docs/
scripts/
test/
demo/**/*.html

dist/auro-*.js
!dist/auro-*__bundled.js
dist/style-css.js

# ignore src
src/**/*.scss
src/**/*.css
